<div class="container mt-5 vt" style="border:double;color:white;border-width:15px">

    <div class="row justify-content-center text-danger vt-lg">{{hero.name}} is battling {{monster.name}}!</div>

    <div class="row justify-content-around container">

        <div class="col-lg-3 ">
            <img src="{{hero.sprite}}" class="img-fluid mb-4" alt=""></img>
        </div>

        <div class="col-lg-6 vt-sm"
            style="border:double;color:white;border-width:15px;min-height:380px;max-height:380px;overflow-y:scroll;" id="combatLog">
            {{#each combatLog}}
            {{> combatLog}}
            {{/each}}
        </div>

        <div class="col-lg-3">
            <img src="https://via.placeholder.com/350x550?text=Monster__Sprite" class="img-fluid mb-4" alt=""></img>
        </div>

    </div>

    <div class="text-center text-danger mb-2">
        <div class="vt-lg"><a href="/" class="a">Main Menu</a></div>
    </div>

</div>
<script>

    const combatEntries = document.getElementById('combatLog').children;
    const combatLog = Array.from(combatEntries);

    combatLog.forEach((i) => { i.style.display = 'none' });

    combatLog.forEach((entry, i) => { setTimeout(() => { entry.style.display = '' }, i * 500); });

</script>

<style>
    select {
        background-color: black;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }