<div class="container mt-5 vt" style="border:double;color:white;border-width:15px">

    <div class="row justify-content-center text-danger vt-lg">Help</div>

    <div class="row justify-content-around container">

        <div class="col-lg-12">
            <h1 class="vt-lg text-center text-danger">About C & C</h1>
            <p class="vt-sm">C&C is a text based roleplaying game that uses Javascript's prototype and the Math object to accomplish the various functions and random-number generation required for a tabletop-style roleplaying game. With objects and arrays representing everything from terrible monsters to magical swords and conversations with townsfolk, it's a demonstration of the fundamentals of Javascript. </p>
            <p class="vt-sm">In conjunction with the fundamentals of object-oriented programming, the game also uses MongoDB and Express to provide the server and database architecture to tie it all together and display the game. Various JSON objects are constructed, manipulated, combined, compared and edited with a variety of methods server-side.</p>
            <p class="vt-sm">Created by <a href="www.nicholaslamonaco.com" class="a">Nicholas La Monaco</a> in 2020, it is thematically styled after the classic MS-DOS era games, the predecessor to many of the games you may know today.</p>
            <p class="vt-sm">Many more updates are to come, including a more skill intensive turn-based battle system and the capability for a story-mode type campaign. If you would like to contribute, I am looking to work with an artist who can create pixel-art assets for the game.</p>
        </div>
    </div>

    <div class="row justify-content-around container">

        <div class="col-lg-12">
            <h1 class="vt-lg text-center text-danger">What is this?</h1>
            <p class="vt-sm">A text-based or tabletop roleplaying game is a set of tools, with which you create your own characters, monsters, dungeons, and stories. The player is in full control of design. The themes, difficulty of gameplay, and risk/reward are all up to the player, with the only limit being your imagination.</p>
            <p class="vt-sm">A selection of heroes, monsters, dungeons, and parties are provided for the purposes of demonstration, upon which you can endlessly expand and fine-tune. You're encouraged to design your own characters and worlds within this framework. Along the way you might find, for example, that some monsters you create are too weak, or too powerful, and solving this is all a part of the game.</p>    
        </div>
    </div>

    <div class="row justify-content-center mb-5"><a class="a text-center" href="/">Main Menu</a></div>

</div>