<div class="container mt-5 vt" style="border:double;color:white;border-width:15px;max-Width: 950px;">

    <div class="row text-center">
        <h1 class="vt-lg text-danger">CASTLES <span class="text-white">&</span> CODING</h1>
    </div>

    <div class="row justify-content-center">
        <img src='./assets/dragon.png' alt="A fearsome dragon"
            style="max-width: 800px;"></img>
    </div>

    <div class="text-center">
        <div class="vt-lg"><a href="./create" class="a">CREATE</a></div>
        <div class="vt-lg"><a href="./view" class="a">VIEW</a></div>
        <div class="vt-lg"><a href="./battle" class="a">BATTLE</a></div>
        <div class="vt-lg"><a href="./visit" class="a">VISIT TOWN</a></div>
        <div class="vt-lg"><a href="./help" class="a">HELP</a></div>
    </div>

</div>